
<main class="flex-1">
    <div class="py-6">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-8">
        <h1 class="text-2xl font-semibold text-gray-900">Barras</h1>
      </div>
      <div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-8">
        <!-- Replace with your content -->
        <div class="py-4">
          <canvas baseChart class="chart"
          [data]="barChartData"
          [options]="barChartOptions"
          [type]="barChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"
          >
</canvas>

<button  (click)="randomize()">Update</button>
        </div>
        <!-- /End replace -->

       

      </div>
    </div>
  </main>
