<main class="flex-1">
  <div class="py-6">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-8">
      <h1 class="text-2xl font-semibold text-gray-900">Barras Dobles</h1>
    </div>
    <div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-8">

      <div class="py-4">


        <div class="grid grid-cols-2 divide-x mt-5">
          <div>
            <app-grafica-barra [horizontal]="true" [barChartData]="productoData"></app-grafica-barra>
          </div>
          <div>
            <app-grafica-barra [barChartData]="proveedoresData"></app-grafica-barra>

          </div>

        </div>



      </div>

    </div>
  </div>




</main>